@import "tailwindcss";

@theme {
  --font-primary: "Roboto Variable", sans-serif;

  --color-primary: #11527e;
  --color-secondary: #187bbc;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Variable", sans-serif;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
