@import "tailwindcss";

@theme
{
  --font-primary: "Roboto Variable", sans-serif;

  --color-primary: #11527E;
  --color-secondary: #187BBC;
}

html,
body
{
  height: 100%;
}

body
{
  margin: 0;
  font-family: "Roboto Variable", sans-serif
}